{% extends 'base.html' %}


{% block content %}
<main class="messagePage my-xl">
  <div class="content-box">
    <div class="message">
      <a class="backButton" href="{% url 'inbox' %}"><i class="fa-regular fa-circle-xmark"></i></a>
      <p class="message__date">{{ message.created }}</p>
      {% if message.sender %}
        <a href="{% url 'user_profile' message.sender.username  %}" class="message__author">{{ message.name }}</a>
        {% else %}
        <p class="message__author">{{ message.name }}</p>
        {% endif %}
        <h2 class="message__subject">{{ message.subject }}</h2>
        <div class="message__body">{{ message.body|linebreaksbr }}</div>
    </div>
  </div>
</main>
{% endblock content %}