{% extends 'base.html' %}

{% block content %}
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="contact__title"><i class="fa-solid fa-question"></i> What is a BlogBUT.PL</h3>
    <div class="about_us-info">
        <h6>Blog of Bialystok University of Technology Students (BlogBUT) is a unique platform that brings together students from various faculties of Bialystok University of Technology. Here, you can create articles on any topic, read articles by other users, and if you wish, make your article private and accessible only to those who know the password. Create your profile, write about yourself, introduce your activities, choose your faculty, write articles, and communicate with users through the built-in messenger on the site. Enjoy the convenient search for users and articles by category, name, keywords, and faculty.</h6>
        <h5>ㅤ</h5>
        <h3 class="contact__title"><i class="fa-solid fa-bullseye"></i> Purpose of BLOGBUT</h3>
        <h6>The purpose of BLOGBUT is to foster a vibrant, collaborative community among students at Białystok University of Technology. It provides a platform for students to share knowledge, experiences, and ideas across various disciplines. By enabling students to publish articles, interact with peers, and engage in academic discussions, BLOGBUT enhances learning and promotes intellectual growth. Additionally, it offers personalized features such as private articles, user profiles, and a built-in messenger to facilitate effective communication and networking among students.</h6>
        <h5>ㅤ</h5>
        <h3 class="contact__title"><i class="fa-solid fa-user-plus"></i> Join the Community</h3>
        <h6>By becoming a part of BLOGBUT, you join a dynamic community of curious minds and creative thinkers. Whether you're looking to showcase your work, seek feedback, or simply connect with like-minded peers, BLOGBUT offers the tools and opportunities to make your voice heard. Participate in discussions, collaborate on projects, and stay updated on the latest trends and topics within the university. With BLOGBUT, you are not just a student; you are a valued member of an engaging academic network.</h6>
        <h5>ㅤ</h5>
        <h3 class="contact__title"><i class="fa-brands fa-youtube"></i> Our Promo Video:</h3>

        <iframe class="video_youtube" width="1000" height="600" src="https://www.youtube.com/embed/8UZMb0AQZmE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</main>

{% endblock content %}
