<!DOCTYPE html>
{% load static %}
<html style="height: 100%;">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <script src="https://kit.fontawesome.com/c50ea4dbbd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
    <title>Blog Students BUT</title>
    <link rel="icon" href="{% static 'logo.svg' %}" type="image/x-icon">
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    {% include 'navbar.html' %}

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert--{{ message.tags }}">
        <p class="alert__message">{{ message }}</p>
        <button class="alert__close" onclick="closeAlert(this)">Close</button>
    </div>

    {% endfor %}

    {% endif %}

    <div style="flex: 1;">
    {% block content %}
    {% endblock content %}
    </div>
    <div>
    <footer class="site-footer">
        <div class="footer-content">
            <h3>Blog for Students of Bialystok University of Technology</h3>
            <p>Place to express thoughts, receive university news and share experiences.</p>
            <ul class="socials">
                <li><a href="https://wi.pb.edu.pl/"><i class="fa fa-graduation-cap"></i></a></li>
                <li><a href="https://cez2.wi.pb.edu.pl/moodle/course/view.php?id=607"><i class="fa fa-code"></i></a></li>
                <li><a href="https://www.instagram.com/wydzial_informatyki_pb/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/groups/445835554078935"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/@politechnikabiaostocka1185"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>All rights belong to &copy; <a href="/">BLOGBUT.PL</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Main</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contacts</a></li>
                        <li><a href="/admin/">Admin</a></li>
                      </ul>
                    </div>
        </div>
    </footer>
    </body>
</html>

<script>
function closeAlert(button) {
    var alertDiv = button.parentElement;
    alertDiv.style.display = 'none'; // Скрывает всплывающее уведомление
}
</script>